<li id="tweet-<%= tweet.id %>" data-tweet-id="<%= tweet.id %>">
<div class="form">
   <div class="name"><%= tweet.user.nickname %></div>
   <% if user_signed_in? && current_user.id == tweet.user_id %>
   <div class="more">
      <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
   </div>
   <div class="more">
      <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
   </div>
</div>
   <% end %>
   <div class="content_post" style="background-image: url(<%= tweet.image %>)">
      <%# ここを編集 %>
      <div class="prefectures"> <%= simple_format(tweet.prefectures&.first&.prefecture) %></div>
      <%= render "likes/like", tweet: tweet %>
   </div>
</li>