<%= form_for(@tweet) do |f| %> 
  <div class="field">
  <%= f.label :ImageUrl %>
  <%= f.text_area :image , placeholder: 'ImageUrl' %>
  </div>
  <div class="field">
  <%= f.label :Prefectures %>
  <%= f.text_area :text , placeholder: 'text' %>
  </div>
  <div class="field">
  <%= f.submit "Send" %>
  </div>
<% end %>
