<%= form_for(@tweet) do |f| %> 
  <div class="field">
  <%= f.label :ImageUrl %>
  <%= f.text_area :image , placeholder: 'ImageUrl' %>
  </div>
  <div class="field">
  <%= f.label :Prefectures %>
  <%= f.collection_select :prefecture_ids, Prefecture.all, :id, :prefecture %>
  </div>
  <div class="field">
  <%= f.submit "Send" %>
  </div>
<% end %>
